@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.ttf") format("truetype"),
    url("Poppins-Regular.woff") format("woff"),
    url("Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Medium.ttf") format("truetype"),
    url("Poppins-Medium.woff") format("woff"),
    url("Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBold.ttf") format("truetype"),
    url("Poppins-SemiBold.woff") format("woff"),
    url("Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
